.card{
    width: 10rem;
    height: 13rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 10rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.26);
    border: 5px solid var(--lblue);
    box-shadow: var(--boxShadow);
    border-radius: 20px;
    padding: 0 26px 2rem 26px;
}
.card>:nth-child(3){
    color: var(--gray);
    font-size: 16px;
}
.card>img{
    transform: scale(0.6);
    margin-bottom: -1.5rem;
}
.cardbutton{
    background: white;
    box-shadow: 0px 19px 60px rgba(0, 0, 0, 0.08);
    border-radius: 7px;
    border: none;
    padding: 10px;
    font-size: 16px;
    color: var(--dblue);
    cursor: pointer;
}
.cardbutton:hover{
    background: var(--lblue);
    color: white;
}