.footer{
    display: flex;
    align-items: center;
    text-align: center;
    margin: -0.5rem -3.5rem;
    position: relative;
    margin-top: -7rem;
}
#res{
    font-family: poppins;
}
.f-content{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 5rem;
    gap: 1.5rem;
    color: white;
}
.f-icons{
    display: flex;
    gap: 2rem;
}
.textdiv{
    font-family: poppins;
    font-size: 12px;
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
    color: rgb(225, 225, 225);
}