.maindiv{
    display: flex;
    flex-direction: column;
    height: 90vh;

}
.expname{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}
.expname>:nth-child(1){
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bold;
}
.expname>:nth-child(2){
    color: var(--lblue);
    font-size: 2.5rem;
    font-weight: bold;
}
.expname>:nth-child(3){
    color: var(--gray);
    font-size: 14px;
    margin-top: 0.5rem;
    text-align: center;
}

.experience{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    margin-top: 10rem;
    margin-bottom: 5rem;
    position: relative;
    
}
.achievement{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.circle{
    width: 4rem;
    height: 4rem;
    background: white;
    border-radius: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}
.circle::before{
    border-radius: 100%;
    content: '';
    background-image: linear-gradient(to bottom, var(--lblue) 0%, var(--dblue) 100%);
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -8px;
    position: absolute;
    z-index: -1;
    box-shadow: var(--boxShadow);
}
.achievement>:nth-child(3){
    color: var(--lblue);
}
.achievement>*{
    font-weight: bold;
}
.s-blur3{
    left: 0rem;
    top: 0rem;
}
.s-blur4{
    left: 45rem;
    top: -15rem;
}
