:root
{
  --dblue: #187692;
    --lblue : #18aba3;
    --black : #242D49;
    --gray : #788097;
    --blueCard : #DDF8FE;
    --purple: rgb(238 210 255);
    --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
    --orangeCard: rgba(252, 166, 31, 0.45);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

.App{
    padding: 0.5rem 3.5rem;
    overflow: hidden;
    color: var(--black);    
}
@font-face {
  font-family: Poppins;
  src: url('./fonts/Poppins.ttf');
}
@font-face {
  font-family: Philosopher;
  src: url('./fonts/Philosopher.ttf');
}
@font-face {
  font-family: Gumela;
  src: url('./fonts/Gumela.otf');
}
@font-face {
  font-family: Playfair;
  src: url('./fonts/PlayfairDisplay.ttf');
}
.button{
  border-radius: 30px;
  border: none;
  color: rgb(255, 255, 255);
  font-family: 'Philosopher';
  font-size: 16px;
  padding: 10px;
  background: linear-gradient(180deg, #34bdb6 ,#18aba3);
  box-shadow: 0px 10px 16px 0px #60a09e;
  
}
.button:hover{
  background: linear-gradient(180deg, #ffffff ,#ececec);;
  color: var(--lblue);
  cursor: pointer;
  border: 1px solid #18aba3;  
}
@media  screen and (max-width: 480px) {
  .App{
    padding: 0.5rem 1rem;
  }
}

  

  